<div data-role="content" class="invitation-show">
	<h3>
        Project  <%=@invitation.project.name%>
    </h3> 
	<h3>
        Invited By  <%=@invitation.project.owner.name%>
    </h3>
	<h3>
        Date  <%=@invitation.project.project_date%>
    </h3>

	<h3>Going </h3>
	<%= link_to "Join",  join_invitation_path(@invitation), :'data-role' => 'button', :'data-icon' => 'create' %>
	<%= link_to "Cancel", cancel_invitation_path(@invitation), :'data-role' => 'button', :'data-icon' => 'delete' %>
</div>