<div data-role="collapsible" data-collapsed="false">
  <h3>
    Todo
  </h3>

  <div id="todo_contiiner">
       <!-- data-role="fieldcontain" class="task-checkboxes"> -->
       <%= render :partial => 'todo_list' %>

  </div>


  <%= form_for @project.todos.build do |todo| %>
  <div data-role="fieldcontain" class="add-todos">
    <fieldset data-role="controlgroup">
        <label for="textinput1"></label>
        <%= todo.text_field :task %>
        <%= todo.hidden_field :project_id, :value => @project.id %>
	<br/>
	<%= todo.submit %>
    </fieldset>
  </div>
  <% end -%>
</div>
