<%= form_for(@project) do |f| %>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <label for="textinput1">
        Name
      </label>
      <%= f.text_field :name %>
      <!-- <input name="" id="textinput1" placeholder="" value="" type="text" /> -->
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <label for="textinput1">
        Twitter Hash Tag
      </label>
      <%= f.text_field :hashtag %>
    </fieldset>
  </div>
  <div id="checkboxes1" class="checkboxes" data-role="fieldcontain">
    <h3>Select Tools</h3>
    <input id="checkbox1" name="" type="checkbox" />
    <label for="checkbox1"> Enable Todos</label>
    <input id="checkbox4" name="" type="checkbox" />
    <label for="checkbox4">Enable Comments</label>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <label for="textinput2">
        Location
      </label>
      <input name="" id="searchTextField" placeholder="" value="" type="text" />
		<%= f.hidden_field :latitude, :id => "Xa" %>
		<%= f.hidden_field :longitude, :id => "Ya" %>
    </fieldset>
  </div>
  <div id="map_canvas" style="height:300px; width:350px"></div>
  <div id="checkboxes3" data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="vertical">
      <legend>
        Invite Your Friends
      </legend>
	<% @friends.each do |f|%>
      <input id="checkbox<%= f['id'] %>" name="" type="checkbox" />
      <label for="checkbox<%= f['id'] %>">
        <%= f["name"] %>
      </label>
	<% end %>
    </fieldset>
  </div>
  <%= f.submit %>
<% end %>
