<div data-role="content" class="project-show">
  <div data-role="collapsible-set">
    <%= render :partial => "todo" %>
    <div data-role="collapsible" data-collapsed="false">
      <%= render :partial => 'map' %>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Comments
      </h3>
      <div id="comments_container">
	<%= render :partial => 'comments' %>
      </div>
      <div id="new-comments">
      <%= form_for [@project, @comment] do |f|-%>
        <%= f.text_area :comment -%>
        <%= f.submit -%>
      <%- end -%>
      </div>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Twitter
      </h3>
      <div id="lhc-twitter-widget"></div>
    </div>
  </div>
</div>
<script>
new TWTR.Widget({
                version: 2,
                type: 'search',
                search: '#manchester',
                rpp: 30,
                interval: 5000,
                title: 'Latest Tweets',
                subject: 'Updated Live',
                width: 200,
                height: 300,
                id: 'lhc-twitter-widget',
                theme: {
                        shell: {
                                background: '#8ec1da',
                                color: '#ffffff'
                        },
                        tweets: {
                                background: '#ffffff',
                                color: '#000000',
                                links: '#1985b5'
                        }
                },
                features: {
                        scrollbar: true,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: true,
			toptweets: true,
			behavior: 'all'
		}
	        }).render().start();
</script>
