<div data-role="content">
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Todo
      </h3>
      <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-theme="c">
        <a href="#page1" data-transition="flip">
          Button
        </a>
        </li>
      </ul>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <%= render :partial => 'map' %>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Comments
      </h3>
      <ul>
      <%- @project.comments.each do |c| -%>
	<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d">
	  <div class="ui-btn-inner ui-li">
	      <p><%= c.comment %></p>
	  </div>
	</li>
	<%- end -%>
      </ul>
      <div id="new-comments">
      <%= form_for [@project, @comment] do |f|-%>
        <%= f.text_area :comment -%>
        <%= f.submit -%>
      <%- end -%>
      </div>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Twitter
      </h3>
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23<%= @project.hashtag%>" data-widget-id="257155622414467072">Tweets about #<%= @project.hashtag%></a>
      <script>
        !function(d,s,id) {
          var js,fjs=d.getElementsByTagName(s)[0];
          if(!d.getElementById(id)) {
            js=d.createElement(s);
            js.id=id;js.src="//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
          }
        }(document,"script","twitter-wjs");
      </script>
    </div>
  </div>
</div>
