<div data-role="content" class="project-show">
  <div data-role="collapsible-set">
    <%= render :partial => "todo" %>
    <div data-role="collapsible" data-collapsed="false">
      <%= render :partial => 'map' %>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Comments
      </h3>
      <div id="comments_container">
	<%= render :partial => 'comments' %>
      </div>
      <div id="new-comments">
      <%= form_for [@project, @comment] do |f|-%>
        <%= f.text_area :comment -%>
        <%= f.submit -%>
      <%- end -%>
      </div>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Photo Stream
      </h3>
      <div id="gallery_container">
	<ul id="Gallery" class='gallery'>
	  <% @pics.each do |p| %>
	  <li><a href=" <%= p.standard_url %>"><img src="<%= p.thumbnail_url %>" alt="<%= p.caption_text %>" /></a></li>
	  <% end %>

	</ul>
      </div>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h3>
        Twitter
      </h3>
      <div id="lhc-twitter-widget"></div>
    </div>
  </div>
</div>
<script>
new TWTR.Widget({
                version: 2,
                type: 'search',
                search: '#<%= @project.hashtag %>',
                rpp: 30,
                interval: 5000,
                title: 'Latest Tweets',
                subject: 'Updated Live',
                height: 300,
                id: 'lhc-twitter-widget',
                theme: {
                        shell: {
                                background: '#E5E5E5',
                                color: '#ffffff'
                        },
                        tweets: {
                                background: '#ffffff',
                                color: '#000000',
                                links: '#1985b5'
                        }
                },
                features: {
                        scrollbar: true,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: true,
			toptweets: true,
			behavior: 'all'
		},
		ready: function(){
                  jQuery('div.twtr-doc').css('width', '100%');
                }
	        }).render().start();
</script>
